/* flex box styling for all elemnents. dynamic sizing */
* {
  background-color: rgb(23, 112, 90);
  color: rgb(13, 216, 74);
}
p {
  margin: 10px;
}

#page-head {
  font-size: 50px;
  width: 1500px;
  height: 100px;
  margin: auto;
  text-align: center;
  background-color: blueviolet;
  border: 10px solid rgb(84, 3, 92);
}
.Jump-to {
  padding: 20px;
  margin: 10px;
  border: 5px solid black;
  width: fit-content;
  flex-direction: column;
}

.subheader {
  font-size: 25px;
  border: 5px solid black;
  text-wrap: wrap;
  width: 500px;

  float: right;
}

section {
  border: 5px solid black;
  width: 500px;
}

#Contact-Information {
  width: 300px;
  margin: auto;
}
#About-Me {
  text-align: center;
}

#My-Projects {
  width: 1000px;
  text-align: center;
}
#flexbox-projects {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
}
#flexbox-projects header {
  position: absolute;
}

img {
  width: 200px;
}

.big {
  width: 800px;
}
/* text box hover for project titles */
/* section header {
  display: none;
  position: relative 
}
section a:hover {
display: block;
color:rgb(13, 216, 74);
position: absolute; 
} */
