/* start header */
.header {
  border: solid black;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

h1 {
  border: solid black;
  margin: 0;
  font-size: 50px;
}

nav {
  border: solid black;
  margin: 0;
 
}

.Jump-to {
  padding: 10px;
  margin: 10px;
  font-size: 20px;

  display: flex;
  justify-content: flex-start;
}

a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
}
/* end header */

/* start subheader */
.subheader {
  border: solid black;
  width: 160px;
  float: right;
  padding: 10px;
  margin: 20px;
  text-align: center;
}
/* end subheader */

/* start main, aside */
.profile-pic {
  width: 100px;
  border-radius: 50%;
  position: relative;
  left: 45px;
}
#About-Me {
  width: 200px;
  padding: 10px;
  margin: 20px;
  border: solid black;
  flex-shrink: 0;
}
.About-Title {
  position: relative;
  left: 20px;
  font-size: 40px;
}

/* end aside */

#My-Projects {
  border: solid black;
  position: relative;
 
  flex: 2
}
.instruction {
  text-align: center;
  font-size: 20px;
}
h2{
  text-align: center;
}

/* flex main */
main {
  display: flex;
  justify-content: center;
}



h2 {
  font-size: 40px;
}
main header {
  font-size: 20px;
}
.big {
  width: 580px;
  height: 400px;
  position: relative;
  opacity: 70%;
}

.small img {
  width: 200px;
 
}
/* end main */

/* hover for description on titles */
.hidden {
  display: none;
 
}
.hover:hover + .hidden {
display: inline-block;
left: 10px;
background-color: black;
border: solid blueviolet 5px;
color: white;
position: absolute;
}
/* small screen css */
@media screen and (max-width: 1500px){
  .subheader{
    display: none;
  }

}
@media screen and (max-width: 768px){
  
  
  main {
    display: column;
    flex-wrap: wrap;
    justify-content: flex-start;
   
  }
  #About-Me{
    order: 2;
    width: 80vw;
  }
  #My-Projects{
    width: 100vw;
  }
  .big{
   width:  90vw;
  }
 
  

